    .wrapper {
      display: grid;
      grid-template-columns: 1fr, 7fr, 1fr;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 7fr 1fr;
    }
  
    .one {
      grid-column-start: 1;
      grid-column-end: 2;
      background-color: green;
    }
    .two {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #b3c7f7;
    text-align: center;
    padding: 10px;
    background-image: url('images/header.jpg');
    }
  
    .three {
    grid-column: span 3;
    grid-row: 1;
    background-color: purple;
    text-align: center;
    padding: 10px;
    }


  /* .container {
    display: grid;
    grid-template-columns: 1fr, 5fr, 1fr;
    gap: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: green;
    }

    .container > div{
      grid-column: 1/span 3;
      background-image: url('images/header.jpg');
    }
    .about-image{
      grid-column: 2/3;
      background-color: aquamarine;
    } */
/* } */

/* Step 5: Write selector/rule property to add the background image to the 
first div in the grid  and place it in the grid. */



/* Steps 6 and 7: Write the selector/rule properties to add place the next elements in the next
 four rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine seletors*/


 /* Step 8: Write the selector/rule property to style the .text-block class. */


/* Add your media query here */


  /* Step 9: Write the selector/rule property to style the nav element */

 
  /* Step 10: Write the selector/rule property to update the .container class */


  /* Steps 11 and 12: Update the grid-column property of the grid's children (where-needed)*/



 /* Step 13:Write the selector/rule property to update the .text-block class */

